@viewport {
  orientation: portrait;
}
body {
  padding: 0;
  margin:0;
  height: 100%;
  font-size: 24px;
  background: #000;
  color: #fefefe;
  background: #000 url(../img/bg1.jpg) no-repeat fixed;
  background-size: cover;
}
body, h1, input, li, span, div, button {
  font-family: monospace;
}
input[type=text], input[type=text]:disabled {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: inherit;  /*display: inline-block;*/
  box-sizing: border-box;
  color: #fafafa;
  outline: 0;
  padding: 3px 0;
}
input[type=text]:focus, 
input[type=text]:hover {
  background: rgba(255,255,255,0.95);
  color: #666;
  border-color:rgba(255,240,240,.5);
}
#menu,
#menu.gameon.show
 {
  top:0;
  left:0;
  width: 100%;
  position: fixed;
  min-height:6rem;
  /*border-bottom:0.5rem solid rgba(255,255,255,0.8);*/
  background: rgb(255,255,255,0.3);
  /*text-align: center;*/
  text-align: left;
  text-shadow: -3px 3px rgba(255, 200, 200, 0.2);
}


.menublock,
#menu.gameon.show .menublock
 {opacity:1;}
#menu span {
  font-size: 1.4rem;
  display: inline-block;
}
#menu input {
  display: inline;
  padding: 1rem;
  max-width: 5rem;
  text-align: center;
  font-size: 2rem;
  border-width:3px;
  border-style: solid;
}
#menu button {}
.button-wrapper {
  display: block;
  text-align: center;
  width: 100%;
}

/*menu state: game on*/
#menu.gameon {
  height:1px;
  max-height:1px;
  min-height:1px;
  /*overflow: hidden;*/
  /*border-bottom:0.8rem solid rgba(200,255,180,0.5);*/
  border:0;
  transition:all 0.2s ease-in-out;

}


#menu.gameon .menublock {
  opacity:0;
}
#menu.gameon:focus,
.no-touch #menu.gameon:hover {
/*  height:4rem;
  max-height:4rem;
  min-height:4rem;
  transition:all 0.5s ease-out;
  border-color:rgba(255,255,255,.5);*/
}


#showmenu {
  display: none;
  position: absolute;
  left:6px;
  bottom:-38px;
  background: transparent url(../img/arrow-down-01-128.png);
  height:32px;
  width: 32px;
  background-size: 100%;
  border:2px solid transparent;
} 
#showmenu:focus, 
#showmenu.active,
.no-touch #showmenu:hover {
  /*background: rgba(255,255,255,0.95);*/
  

}

#showmenu.open {
  background-image: url(../img/arrow-up-01-128.png);

}


#menu.gameon #showmenu  {
  display: block;
}

/* Players grid */
.players {
  margin:7rem 0 0 0;

  /*margin: 2rem 0 0 0;*/
}
.players ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: :none;
}
.player {
  flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 2rem 0;
  list-style: :none;
}

/*menu go -button in button styles */
.name {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: -3px 3px rgba(255, 200, 200, 0.2);
  font-size: 3rem;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 98%;
  max-width: 400px;
  border: 3px transparent;
  display: block;
}
.small-players .name {
  font-size: 1.2rem;
  line-height: 2rem;
}
.no-touch .name:hover, 
.no-touch .name:focus {
  text-shadow: -3px 3px rgba(50, 50, 50, 0.4);
}
.life {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  color: #fafafa;
  margin: 1rem 0 0 0;
  font-size: 8rem;
  text-align: center;
  display: inline-block;
  width: 100%;
  text-shadow: -10px 10px rgba(255, 255, 255, 0.2);
}
.life > div {
  cursor: pointer;
  margin: 3rem 6rem;
  border: 0 transparent;
  border-radius: 6rem;
  transition: background 0.4s ease-in;
  transition: color 0.1s ease-in-out;

}
.life > div:active,
.life > div:focus,
.no-touch .life div:hover {
  color: red;
  text-shadow: -10px
  10px rgba(255, 200, 200, 0.2);
  background: rgba(255, 255, 255, 0.1);
  transition: background 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
  transition: text-shadow 0.3s ease-in-out;


    /* border: 3px solid rgba(255, 0, 0, 0.4);
    */
}
.life > div:active,
.life > div:focus {
  background: rgba(155, 155, 155, 0.3);
  transition: background 0.1s ease-out;
}
.small-players .life > div {
  font-size: 3rem;
  margin: 1rem 3rem;
}
}
.small-players .life > div {
}

/* .life::before {
  content: '-1';
  display: block;
  position: absolute;
  right: 3rem;
  font-size: 4rem;
  color: white;
  height: 30px;
  width: 20px;
  border: 10px solid blue;
}
*/
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: 0.5rem solid #e0e0e0;
  border-radius: 1rem;
  box-shadow: -10px 8px rgba(255, 255, 255, 0.2);
  background: white;
  color: #444;
  font-size: 2rem;
  line-height: 3rem;
  text-shadow: #ccc 3px 3px 3px 5px;
  text-align: left;
  box-sizing: border-box;
  outline: 0;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
button:active, button:focus
.no-touch button:hover {
  border-color: white;
  transition: all 0.3s ease-out;
}
button.go {
  margin: 1rem 0;
  padding: 0 3rem;
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
  width: auto;
}
button.go:focus, 
button.go:active,
.no-touch button.go:hover {
  border-color: #aaa;
  font-size: 2rem;
}
.player button {
  width: auto;
  margin: 0 0.5rem 0 1rem;
}
.no-touch .player button:hover {
}

/* .player button.down:focus, */
.player button.down:active, .no-touch .player button.down:hover {
  background: rgb(230, 40, 60);
  color: #fafafa;
  box-shadow: -10px 8px rgba(255, 200, 200, 0.2);
}

/* .player button.up:focus, */
.player button.up:active, .no-touch .player button.up:hover {
  background: rgb(60, 230, 40);
  color: #fafafa;
  box-shadow: -10px 8px rgba(200, 255, 200, 0.2);
  transition: all 0.3s ease-out;
}
.buttons {
  text-align: center;
}
.small-players .player button {
  font-size: 1.3rem;
  margin: 0 .1rem 0 .1rem;
  line-height: 120%;
}
.poisons {
  width: 50%;
  box-sizing: border-box;
}
.poisons input, .poisons button {
  font-size: 80%;
}
@media screen and (min-width:640px) {
  #menu {
    text-align: center;
  }
  .small-players .player {
    width: 30%;
  }
  .life {
    font-size: 12rem;
  }
  .name {
  }
  button {
    border-width: 1rem;
  }
  .small-players .name {
    font-size: 2.2rem;
    line-height: 3rem;
  }
  .small-players .player button {
    border-width: .3rem;
    border-radius: 5px;
  }
  #menu {
    /*line-height: 3.5rem;*/
    /*width: 80%;*/
    padding:0 10% ;
    margin: 0 auto;
      }
  #menu span {
    font-size: 1.4rem;
    display: inline;
  }
  #menu button {
  }
}
@media screen and (min-width:920px) {
  .player {
    width: 50%;
  }
  .life {
    font-size: 12rem;
  }
  .name {
  }
  button {
    font-size: 2.8rem;
    line-height: 4rem;
    padding: 0 .5rem;
  }
  .small-players .life > div {
    font-size: 12rem;
  }
  .small-players .player button {
    font-size: 2.6rem;
    line-height: 3.8rem;
    border-width: .5rem;
    border-radius: 1rem;
  }
}
@media screen and (min-width:1280px) {
  .life {
    font-size: 16rem;
  }
  button {
    font-size: 6rem;
    line-height: 8rem;
  }
}